@import "./lib/googlefonts.css";

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #212121;
	margin: 0;
}

body {
	background-repeat: no-repeat;
	background-size: cover;
}

#time {
	position: absolute;
	top: 0;
	width: 100%;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 11rem;
	text-align: center;
	margin: 0;
	text-shadow: 0 0 2rem #999999;
}

#date {
	position: absolute;
	top: 21vh;
	width: 100%;
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 2.2rem;
	margin: 0;
	margin-bottom: 5vh;
	padding: 0.5rem;
	text-shadow: 0 0 2rem black;
}

#text-display {
	margin: auto;
	margin-top: 32vh;
	width: 70%;
	height: 60vh;
	background-color: #00000080;
	backdrop-filter: blur(5px);
	padding: 1rem;
	color: white;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 2rem;
	overflow-y: auto;
	scrollbar-color: #aaaaaa transparent;
	scrollbar-width: thin;
}

#text-edit {
	display: none;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 32vh;
	width: 70%;
	height: 54vh;
    background-color: #000000aa;
    border: none;
	backdrop-filter: blur(10px);
	padding: 1rem;
	color: white;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 1.5rem;
	overflow-y: auto;
	scrollbar-color: #aaaaaa transparent;
	scrollbar-width: thin;
	z-index: 10;
}

#submit-button {
	display: none;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 1vh;
	width: auto;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 2.2rem;
	background-color: #212121;
	border: 0.01rem solid #aaaaaa;
	padding: 0.5rem 1rem;
	transition: 0.3s;
}

#submit-button:hover {
	filter: drop-shadow(0 0 0.3rem white);
	cursor: pointer;
}

#new-photo {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: auto;
    color: #999999;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    background-color: #0000004f;
    border: none;
    transition: 0.3s;
}

#new-photo:hover {
    color: white;
    background-color: #00000062;
	cursor: pointer;
}

#credits {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    color: white;
    position: absolute;
    top: 1rem;
    left: 1rem;
    margin: auto;
    background-color: #0000004f;
    padding: 0.1rem 0.3rem;
}

ul {
	margin: 0;
}

h2 {
	margin: 1rem 0;
}

a {
    text-decoration: none;
    color: #f0c846;
    transition: 0.3s;
}

a:hover {
    color: #b18700;
}

.spacer {
	height: 1rem;
}